
/* ------> Positioning <----------- */
.container {
	width: 70%;
	margin: 0% 15% 0% 15%;

}


.full-width{
	width: 100%;
	clear: both;
	overflow: auto;

}


.half-width {
	width: 50%;
	float: left;
	
}


.third-width {
	width: 33.3%;
	float: left;

/* -----> Styling Starts Here <------- */
	
